@model TestModel

@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}
<div class="row">
    <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading text-center"><h4>@Model.Name</h4></div>
            <div class="panel-body text-center" style="background: url(..@Model.ImagePath) no-repeat center fixed; background-size: cover;">
                <div class="panel col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                    @using (Html.BeginForm("Pass", "Test"))
                    {
                        @Html.HiddenFor(x => x.Id)
                        for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            <br />
                            @Html.LabelFor(x => x.Questions[i].Message, Model.Questions[i].Message)
                            for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
                            {
                                @Html.HiddenFor(x => x.Questions[i].Answers[j].Id)
                                <br />
                                @Html.RadioButtonFor(x => x.Questions[i].SelectedAnswerId, Model.Questions[i].Answers[j].Id)
                                @Model.Questions[i].Answers[j].Message
                                @Html.ValidationMessageFor(x => x.Questions[i].SelectedAnswerId)
                                <br />
                            }
                        }
                        <br />
                        <input type="submit" class="btn btn-success" />
                        <br /><br />
                    }
                </div>
            </div>
        </div>
    </div>
</div>


